{% extends "base.html" %}
{% block title %}
<div class="title_box" data-cate="1,1,2">
    <i class="far fa-rectangle-list"></i><span class="title">[{{object.num}}] 견적 상세 정보</span>
    <div class="path_box"></div>
</div>
{% endblock %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sales/order/add_order.css' %}">
<script type="text/javascript" src="{% static 'js/sales/estimate/get_estimate.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/tablesorter.js' %}"></script> -->

<input type="hidden" name="object_id" value="{{ object.id }}">

{% csrf_token %}
<div class="contents__info flex">
    {% if object.status == 'WAIT' %}
    <div class="status wait"><i class="fa-solid fa-share-nodes"></i> 견적 · 견적대기</div>
    {% elif object.status == 'CANCEL' %}
    <div class="status cancel"><i class="fa-solid fa-share-nodes"></i> 견적 · 견적취소</div>
    {% elif object.status == 'COMPLT' %}
    <div class="status complt"><i class="fa-solid fa-share-nodes"></i> 견적 · 견적확정</div>
    {% endif %}
</div>

<div class="content edit-form">
    <div class="edit-form__inner" id="base">
        <div class="form-title flex-top-between">
            <div class="title">기본 정보</div>
        </div>
        <div class="data-form">
            <div class="form-group" style="width:25%;">
                <div class="form-group__title">
                    <div class="title">업체명</div>
                </div>
                <div class="form-group__input" id="form_company">
                    <input type="text" name="company" class="data-input" value="{{ object.company_name }}" disabled>
                </div>
            </div>
            <div class="form-group" style="width:53%;">
                <div class="form-group__title flex">
                    <div class="title">프로젝트명</div>
                </div>
                <div class="form-group__input">
                    <input type="text" name="pjt_name" class="data-input" value="{{ object.pjt_name }}" disabled>
                </div>
            </div>
            <div class="form-group" style="width:20%;">
                <div class="form-group__title flex">
                    <div class="title">견적 일자</div>
                </div>
                <div class="form-group__input">
                    <div class="input-group">
                        <input type="text" name="registration_date" class="data-input datetimepicker_update" value="{{ object.registration_date | date:'Y-m-d' }}" disabled>
                        <div class="input-group-addon input-group-append">
                            <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="data-form">
            <div class="form-group" style="width:20%;">
                <div class="form-group__title flex">
                    <div class="title">접수 담당자</div>
                </div>
                <div class="form-group__input">
                    <input type="text" name="account" class="data-input" value="{{ object.account.name }}" disabled>
                </div>
            </div>
            <div class="form-group" style="width:37%;">
                <div class="form-group__title flex">
                    <div class="title">견적 특이사항</div>
                </div>
                <div class="form-group__input">
                    <select name="special_note" class="select2_form" multiple="multiple" disabled data-before="{{ object.special_note }}">
                        {% for obj in code %}
                        {% if obj.sort == 'special_note' and obj.is_active == True %}
                        <option value="{{ obj.name }}">{{ obj.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group" style="width:20%;">
                <div class="form-group__title flex">
                    <div class="title">견적 금액</div>
                </div>
                <div class="form-group__input">
                    <input type="text" name="price" class="data-input txt_right fixed_num" value="{{ object.price | intcomma }}" disabled>
                </div>
            </div>
            <div class="form-group" style="width:20%;">
                <div class="form-group__title flex">
                    <div class="title">견적 기한</div>
                </div>
                <div class="form-group__input">
                    <div class="input-group">
                        <input type="text" name="due_date" class="data-input datetimepicker_update" value="{{ object.due_date | date:'Y-m-d' }}" disabled>
                        <div class="input-group-addon input-group-append">
                            <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="data-form">
            <div class="form-group" style="width:100%;">
                <div class="form-group__title flex">
                    <div class="title">메모</div>
                </div>
                <div class="form-group__input">
                    <input type="text" name="memo" class="data-input" value="{{ object.memo }}" disabled>
                </div>
            </div>
        </div>
    </div>

    {% if estimate_file %}
    <div class="edit-form__inner upload_file" id="file">
        <div class="form-title">
            <div class="title">견적 파일</div>
        </div>
        {% for obj in estimate_file %}
        <div class="data-form">
            <div class="row_title">업로드 파일</div>
            <div class="file_box flex-around">
                <input type="file" id="upload_file_1" class="file_upload etc data" name="upload_file">
                <input type="text" class="data-input file_url" value="{{ obj.upload_file }}" disabled>
                <a href="/base/media/{{ obj.upload_file }}" class="common-btn common-btn--download" download>다운로드</a>
                <!-- <label class="common-btn common-btn--upload" for="upload_file_1">찾기</label> -->
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

<div class="edit-form__button_box flex-between">
    <div class="left">
        <span class="edit-form__button complt" onclick="compltModalOpen(this);">견적 확정</span>
        <span class="edit-form__button fail" onclick="cancelModalOpen(this);">견적 취소</span>
    </div>
    <div class="right">
        <a href="/sales/estimates/" class="edit-form__button cancel">목록으로</a>
        <a href="/sales/estimate/{{ object.pk }}/update" class="edit-form__button update">수정</a>
    </div>
</div>

<!-- 정보 취소 모달창 -->
<div id="delModal" class="common-modal cancel">
    <input type="hidden" name="ids">
    <div class="common-modal__inner">
        <div class="imgBox">
            <i class="fa-solid fa-ban"></i>
        </div>
        <div class="deleteCont">
            <p class="delMessage">취소 처리하시겠습니까 ?</p>
            <p class="delSubMessage">취소 견적 탭으로 데이터가 이동됩니다.</p>
        </div>
        <div class="modalBtnWrap">
            <span class="modalBtn modalBtn--yes" onclick="cancelData();">예</span>
            <span class="modalBtn modalBtn--no" onclick="closeModal(this);">아니오</span>
        </div>
    </div>
</div>

<!-- 정보 확정 모달창 -->
<div id="delModal" class="common-modal complt">
    <input type="hidden" name="ids">
    <div class="common-modal__inner">
        <div class="imgBox">
            <i class="fa-solid fa-check-double"></i>
        </div>
        <div class="deleteCont">
            <p class="delMessage">확정 처리하시겠습니까 ?</p>
            <p class="delSubMessage">확정 견적 탭으로 데이터가 이동됩니다.</p>
        </div>
        <div class="modalBtnWrap">
            <span class="modalBtn modalBtn--yes" onclick="compltData();">예</span>
            <span class="modalBtn modalBtn--no" onclick="closeModal(this);">아니오</span>
        </div>
    </div>
</div>
{% endblock %}