<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript" src="../static/js/common/jquery-latest.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common/bootstrap-theme.min.css">
    <script type="text/javascript" src="../static/js/common/bootstrap.min.js"></script>

    <script type="text/javascript" src="../static/js/common/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/common/moment-with-locales.js"></script>
    <script type="text/javascript" src="../static/js/common/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="../static/js/common/jquery.tablesorter.combined.min.js"></script>
    <script type="text/javascript" src="../static/js/common/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="../static/js/common/jquery.tablesorter.widgets.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/common/theme.default.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common/tableexport.css">

    <script type="text/javascript" src="../static/js/common/xlsx.core.js"></script>
    <script type="text/javascript" src="../static/js/common/Blob.js"></script>
    <script type="text/javascript" src="../static/js/common/FileSaver.js"></script>
    <script type="text/javascript" src="../static/js/common/tableexport.js"></script>
    <script type="text/javascript" src="../static/js/common/Chart.js"></script>
    <script type="text/javascript" src="../static/js/common/chartjs-plugin-datalabels.js"></script>
    <script type="text/javascript" src="../static/js/common/jszip.min.js"></script>
    <script type="text/javascript" src="../static/js/common/jszip-utils.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/common/common.css">
    <script type="text/javascript" src="../static/js/common/common.js"></script>
    <script type="text/javascript" src="../static/js/common/pdfobject.min.js"></script>

    <script type="text/javascript" src="../static/js/common/exceljs.min.js"></script>
    <script type="text/javascript" src="../static/js/common/table2excel.core.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/common/choices.min.css">
    <script type="text/javascript" src="../static/js/common/choices.min.js"></script>
</head>

<body>
    <!-- 네비게이션 바 start -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">동명전기 MES</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav" id="menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">기준정보관리<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <p class="btn btn-secondary dropdown-toggle production_list_title produce_plan"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                거래처 정보
                            </p>
                            <li><a href="add_company.html"><span class="glyphicon glyphicon-plus"></span>신규 업체 등록</a>
                            </li>
                            <li><a href="get_companies.html"><span class="glyphicon glyphicon-list"></span>업체 목록</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--
                <ul class="nav navbar-nav" id="menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">검색<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <p class="btn btn-secondary dropdown-toggle production_list_title produce_plan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                검색
                            </p>
                            <li><a href="{% url 'worker_index' %}"><span class="glyphicon glyphicon-plus"></span>작업자 검색</a></li>
                            <li><a href="{% url 'inspector_index' %}"><span class="glyphicon glyphicon-list"></span>검수자 검색</a></li>
                        </ul>
                    </li>
                </ul>
                -->
                <!--
                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="{% url 'logout' %}">로그아웃</a>
                </ul>
                -->
            </div>
        </div>
    </nav>
    <!-- 네비게이션 바 end -->

    <div class="container-fluid">
        <!-- 상단 타이틀 start -->
        <div class="row">
            <div class="col col-lg-12 text-center">
                <h1>업체 수정</h1>
            </div>
        </div>
        <!-- 상단 타이틀 end -->

        <!-- 본문 start -->
        <link rel="stylesheet" type="text/css" href="../static/css/company/add_company.css">
        <script type="text/javascript" src="../static/js/company/common.js"></script>

        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <p class="reqMsg">* 표시된 정보는 필수 사항 입니다.</p>
                <form method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="">

                    <div class="form-group">
                        <span class="field-label">업체명</span>
                        <input type="text" name="name" class="form-control" maxlength="32" required="" id="id_name">
                    </div>

                    <div class="form-group">
                        <span class="field-label">업체 주소</span>
                        <input type="text" name="address" class="form-control" maxlength="256" required="" id="id_address">
                    </div>

                    <div class="form-group">
                        <span class="field-label">업태</span>
                        <input type="text" name="line_of_business" class="form-control" maxlength="32" id="id_line_of_business">
                    </div>

                    <div class="form-group">
                        <span class="field-label">종목</span>
                        <input type="text" name="type_of_business" class="form-control" maxlength="64" id="id_type_of_business">
                    </div>

                    <div class="form-group">
                        <span class="field-label">업체 등급</span>
                        <select name="rating" class="form-control" id="id_rating">
                            <option value="" selected="">---------</option>
                            <option value="A">A 등급</option>
                            <option value="B">B 등급</option>
                            <option value="C">C 등급</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="field-label">업체 구분</span>
                        <select name="type" class="form-control" id="id_type">
                            <option value="" selected="">---------</option>
                            <option value="A">수주처</option>
                            <option value="B">발주처</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="field-label">대표 번호</span>
                        <input type="text" name="rep_number" class="form-control" placeholder="000-0000-0000 숫자만 기입해주세요." maxlength="11" id="id_rep_number">
                    </div>

                    <div class="form-group">
                        <span class="field-label">팩스 번호</span>
                        <input type="text" name="fax_number" class="form-control" placeholder="000-0000-0000 숫자만 기입해주세요." maxlength="11" id="id_fax_number">
                    </div>

                    <div class="form-group">
                        <span class="field-label">이메일 주소(세금계산서)</span>
                        <input type="text" name="email" class="form-control" maxlength="254" id="id_email">
                    </div>

                    <div class="form-group">
                        <span class="field-label">사업자등록번호</span>
                        <input type="text" name="registration_number" class="form-control" placeholder="000-00-00000 숫자만 기입해주세요." maxlength="10" id="id_registration_number">
                    </div>

                    <div class="form-group-wrap">
                        <div class="form-group-box" id="currentBox1">
                            <div class="form-group">
                                <span class="field-label">담당자 성명</span>
                                <input type="text" id="manager1" class="form-control">
                            </div>
                            <div class="form-group">
                                <span class="field-label">담당자 연락처</span>
                                <input type="text" id="manager1_phone_number" class="form-control">
                            </div>
                            <span class="formBtn add">추가</span>
                        </div>
                    </div>

                    <input type="hidden" name="manager_number" id="id_manager_number">
                    <input type="hidden" id="managerCount" value="2">

                    <div class="form-group">
                        <span class="field-label">메모</span>
                        <textarea name="memo" cols="40" rows="10" class="form-control" id="id_memo"></textarea>
                    </div>

                    <div class="regBtnWrap">
                        <button type="submit" class="save btn btn-success" onclick="companyAdd();">저장</button>
                        <input type="button" class="save btn btn-danger" onclick="javascript:location.href='get_companies.html'" value="취소">
                    </div>
                </form>
            </div>
        </div>
        <!-- 본문 end -->
    </div>

    <!-- 담당자 클론 -->
    <div class="manager_clone" style="display:none;">
        <div class="form-group-box" id="currentBox">
            <div class="form-group">
                <span class="field-label">담당자 성명</span>
                <input type="text" id="manager" class="form-control">
            </div>
            <div class="form-group">
                <span class="field-label">담당자 연락처</span>
                <input type="text" id="manager_phone_number" class="form-control">
            </div>
            <span class="formBtn del" onclick="rowDelete();">삭제</span>
        </div>
    </div>
</body>

</html>