.table {
    margin-bottom:0;
}
.table>tbody+tbody {
    border-top:1px solid #ddd;
}
.table:nth-of-type(2), .table:nth-of-type(3),
.table:nth-of-type(2) th, .table:nth-of-type(3) th,
.table:nth-of-type(2) td, .table:nth-of-type(3) td {
    border-top:0;
}
.table tr th {
    text-align: center;
    background:#f5f5f5;
}
.table tr td {
    text-align: center;
}
.img_box {
    width:100%;
}
.img_box img {
    max-width:100%;
}
.pdfobject-container {
    height:500px;
}