@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Pretendard-Regular';
}
html, body {
    background:#eff3f7;
    width:100%;
    height:100%;
}
.wrap {
    margin:0 auto;
    width:1200px;
    height:100%;
    background:#eff3f7;
}
p.title {
    font-size:27px;
    font-weight: bold;
    padding:20px 15px 0 15px;
}
.body {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom:40px;
}
.box {
    position: relative;
    padding: 15px;
    border-radius: 3px;
    width: 370px;
    margin:20px 15px 0 15px;
    background: white;
    box-shadow: 0 0 30px #c1c1c1;
}
.order_num {
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_num .left,
.order_num .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_num .right .load_gif {
    width:24px;
    margin-right:5px;
}
.order_num .status {
    display:inline-block;
    font-size:14px;
    border-radius: 20px;
    padding:5px 12px;
    cursor: pointer;
}
.status.wait {
    background:#d8d8d8;
    color:#777777;
}
.status.start {
    background:#d4405b;
    color:#ffffff;
}
.status.end {
    background:#34c388;
    color:#ffffff;
}
.status.stop {
    background:#c3b134;
    color:#ffffff;
}
.order_detail {
    width:100%;
    margin-top:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_detail .title {
    font-size:15px;
    color:#a5a5a5;
}
.order_detail .info {
    font-size:16px;
    color:#4e98e4;
}
.inner {
    position: relative;
}
.tooltip {
    position: absolute;
    left:0;
    bottom:0;
    border-radius: 3px;
    width:100%;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}
.tooltip .process_list {
    border-collapse: collapse;
    width:100%;
}
.tooltip .process_list tr th,
.tooltip .process_list tr td {
    font-size:13px;
    text-align: center;
    padding:10px;
}
.tooltip .process_list tr th {
    background: #79748e;
    color:white;
    font-weight: normal;
}
.tooltip .process_list tr td {
    border-bottom:1px solid #ddd;
}
.tooltip .load_gif {
    width:22px;
    vertical-align: middle;
}