@charset "utf-8";

/* Grid Layout */
.w-rate-1 {
    width:8.33%;
}
.w-rate-2 {
    width:16.66%;
}
.w-rate-3 {
    width:25%;
}
.w-rate-4 {
    width:33.33%;
}
.w-rate-5 {
    width:41.66%;
}
.w-rate-6 {
    width:50%;
}
.w-rate-7 {
    width:58.33%;
}
.w-rate-8 {
    width:66.66%;
}
.w-rate-9 {
    width:75%;
}
.w-rate-10 {
    width:83.33%;
}
.w-rate-11 {
    width:91.66%;
}
.w-rate-12 {
    width:100%;
}

/* Chrome, Safari용 스크롤 바 */
ul.cate::-webkit-scrollbar {
    width: 10px; 
    height: 10px;  
    border-radius: 10px;
    background:transparent;
}
ul.cate::-webkit-scrollbar-button:start:decrement, 
ul.cate::-webkit-scrollbar-button:end:increment {
    display: block; 
    width: 12px;
    height: 12px; 
    background: url() rgba(0,0,0,.05);
    border-radius: 10px;
}
ul.cate::-webkit-scrollbar-track {  
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
}
ul.cate::-webkit-scrollbar-thumb {  
    background: rgba(255, 255, 255, 0.1);  
    border-radius: 10px;
}

/* 공통 css */
@font-face {
    font-family: 'GmarketSansLight'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'NeoDunggeunmo'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto'; 
    src: url('../fonts/Roboto-Regular.ttf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'GmarketSansLight';
}
html, body {
    background:#fafbfe;
    color:#4f5f6f;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
    overflow: hidden;
    height:100%;
}
input[type="text"], input[type="password"],
input[type="email"], input[type="number"], select {
    padding:0 5px;
    border:1px solid #ddd;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
a {
    text-decoration: none;
    color:black;
}
ul li {
    list-style:none;
}
.hidden {
    overflow: hidden;
}
.shadow {
    box-shadow: 0 0 10px 0 rgba(123, 123, 123, 0.22);
}
.flex-start {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-mid {
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex-between {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.d-wrap {
    width: 100%;
    height:100%;
    box-sizing: border-box;
    background: white;
}
.d-wrap-left {
    float:left;
    width:250px;
    height:100%;
    background:#15151d;
    position: relative;
}
.d-wrap-right {
    float:left;
    width:calc(100% - 250px);
    height:100%;
    background:#fafbfe;
    overflow: auto;
}
.d-wrap-right .content {
    padding:20px;
}
.page-title-wrap {
    margin-bottom: 20px;
    padding: 15px 20px;
    background:linear-gradient(90deg, rgb(46, 58, 68) 10%, rgb(55, 85, 97) 30%, rgb(44, 107, 125) 80%);
    border-radius: 5px;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}
h4.page-title {
    font-size: 21px;
    color: white;
    letter-spacing: 2px;
}
.pos_cate {
    display:flex;
    align-items: center;
    color:white;
}
.pos_cate a {
    font-size:14px;
    color:white;
}
.pos_cate a:last-child {
    color:#abffdc;
}
.pos_cate a:hover {
    opacity: 0.6;
}
.pos_cate span.arrow {
    margin: 0 10px;
    color: black;
    background-color: white;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 18px;
}
.pos_cate span.arrow img {
    height:100%;
}

h2.sub-title {
    font-size:18px;
    margin-bottom:15px;
    box-sizing: border-box;
}
p.box-title {
    font-size:16px;
    color:white;
    font-weight: 600;
    background:rgba(49, 6, 220, 0.56);
    padding:0 12px;
    height:40px;
    display:flex;
    align-items: center;
}
.d-row {
    margin-bottom:20px;
}
.d-row:last-child {
    margin-bottom:0;
}
.d-box {
    margin-right:2%;
}
.d-box:last-child {
    margin-right:0;
}
.d-box-wrap {
    background:white;
    color:#525e6b;
}
.d-box-inner {
    padding:15px;
    box-sizing: border-box;
    background:white;
}
.inner-table {
    width:100%;
    height:calc(100% - 34px);
    border-collapse:collapse;
}
.inner-table tr th,
.inner-table tr td {
    box-sizing: border-box;
    font-size:12px;
    text-align: center;
    padding:10px 5px;
    font-weight: 600;
}
.inner-table tr th {
    border-bottom:1px solid #3d4f69;
    color:black;
    padding-top:0;
    font-size:13px;
}
.inner-table tr td {
    border-bottom:1px solid #ececec;
}
.inner-table tr:nth-child(odd) td {
    background:#fcfaff;
}

/* 푸터 */
.footer {
    width:100%;
    background:transparent;
    padding:20px;
    border-top:1px solid #ddd;
}
.footer .footer-inner {
    width:100%;
    margin:0 auto;
    text-align: center;
}
.footer .footer-inner .footer-info {
    overflow: hidden;
    width:1000px;
    display:inline-block;
}
.footer .footer-inner .footer-info li {
    margin: 3px 10px;
    font-size: 15px;
    color: black;
    font-weight: 600;
    display: inline-block;
}
.footer .footer-inner .copyright {
    margin-top:20px;
    color:#3e3e3e;
    font-size:15px;
}

/* 모바일 */
.m_menu_btn {
    display:none;
    height:32px;
    cursor:pointer;
}
.m_menu_btn img {
    height:100%;
}
.m_bg {
    display:none;
    position: absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:1000;
}
.m_wrap {
    position: absolute;
    z-index:1000;
    left:-260px;
    top:0;
    width:260px;
    height:100%;
    background:rgba(35, 36, 60, 0.81);
}
.m_close {
    height:40px;
    background:white;
    padding:10px;
    padding-bottom:0;
    text-align: right;
    
}
.m_close img {
    height:100%;
    cursor: pointer;
}
.m_logo {
    width:100%;
    background:white;
    padding:10px;
    text-align: center;
    height:60px;
}
.m_logo img {
    height:100%;
}
.m_gnb {
    height:calc(100% - 140px);
    overflow: auto;
}
.m_gnb > li {
    color:white;
    padding:7px 10px;
}
.m_gnb li.act > span.m_menu_title,
.m_gnb li > .m_menu_title:hover {
    background-color:#21ab78;
}
.m_gnb li > .m_menu_title {
    font-family:'Roboto';
    font-size:15px;
    display:flex;
    align-items: center;
    width:100%;
    border-radius: 5px;
    padding:10px 12px;
    cursor:pointer;
    color:#eaeaea;
    position: relative;
}
.m_gnb li .menu-icon {
    height:20px;
    margin-right:10px;
}
.m_gnb li > .m_menu_title .down-arrow {
    height: 20px;
    position: absolute;
    right: 15px;
    top: calc(50% - 10px);
}
.m_gnb li > .m_menu_title .down-arrow.rotate {
    transform:rotate(180deg);
}
.m_gnb_depth {
    display:none;
}
.m_gnb_depth li a {
    font-family:'Roboto';
    font-size:13px;
    color:#d0d0d0;
    display:inline-block;
    width:100%;
    padding:12px 20px;
}
.m_gnb_depth li a:hover {
    color:#c4d6ff;
}
.m_bot {
    height:40px;
    background:rgba(69, 85, 95, 0.46);
    padding:0 20px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}
.m_logout {
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
}
.m_logout img {
    width:20px;
    margin-right:5px;
}
.m_logout p {
    font-size:15px;
    color:white;
}

/* B타입 - 좌측메뉴 */
.d-wrap-left .logo {
    padding:15px 20px;
    text-align: center;
    background:black;
    height:100px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.d-wrap-left .logo img {
    width:100%;
    max-height: 100%;
}
.d-wrap-left ul.cate {
    height:calc(100% - 140px);
    overflow: auto;
}
.d-wrap-left ul.cate > li {
    font-size:15px;
}
.d-wrap-left ul.cate > li > span,
.d-wrap-left ul.cate > li > a {
    font-family:'Roboto';
    display:flex;
    align-items: center;
    padding:18px 15px;
    width:100%;
    color:#eaeaea;
    cursor:pointer;
    border-left: 4px solid #15151d;
    position: relative;
}
.d-wrap-left ul.cate > li > span:hover,
.d-wrap-left ul.cate > li > a:hover {
    color:#969696;
}
.d-wrap-left ul.cate > li > span img.menu-icon,
.d-wrap-left ul.cate > li > a img.menu-icon {
    height:20px;
    margin-right:12px;
}
.d-wrap-left ul.cate > li > span img.down-arrow {
    height:20px;
    position: absolute;
    right:15px;
    top:calc(50% - 10px);
}
.d-wrap-left ul.cate > li > span img.down-arrow.rotate {
    transform:rotate(180deg);
}
.d-wrap-left ul.cate > li.act > span,
.d-wrap-left ul.cate > li.act > a {
    border-left: 4px solid #2284ca;
    background-color: rgba(110, 108, 142, 0.25);
}
.d-wrap-left ul.cate-depth {
    background:linear-gradient(to top, #1f1f1f 98%, #000000);
    display:none;
}
.d-wrap-left ul.cate-depth li a {
    font-family:'Roboto';
    color:#a5a5a5;
    font-size:14px;
    padding:12px 30px;
    display:inline-block;
    width:100%;
}
.d-wrap-left ul.cate-depth li a::before {
    content:'ㆍ';
    margin-right:10px;
}
.d-wrap-left ul.cate-depth li:hover a,
.d-wrap-left ul.cate-depth li.act a {
    color:#87d3ff;
}
.d-wrap-left .bot {
    width:100%;
    height:40px;
    background:rgba(69, 85, 95, 0.46);
    padding:0 20px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    position: absolute;
    bottom:0;
}
.d-wrap-left .logout {
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
}
.d-wrap-left .logout img {
    width:20px;
    margin-right:5px;
}
.d-wrap-left .logout p {
    font-size:15px;
    color:white;
}


